body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.list_box {
  width: 100%;
}

.list_box li {
  margin-bottom: 16px;
  padding: 10px 5px;
  width: 300px;
  border-bottom: 1px solid black;
}

.list_box li div strong {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 3px;
  user-select: none;
}

.list_box li div .good {
  margin-right: 4px;
  cursor: pointer;
}

.list_box li div .goodCount {
  user-select: none;
}
